<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EasyHealth</title>

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- BOOTSTRAP THEME -->

  <!-- CUSTOM STYLES -->

  <link rel="stylesheet" href="styles.css">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-light" href="/">EasyHealth</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-light" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/uploaddocs">Medical Documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/features">Information</a>
        </li>
      </ul>
        <a class="nav-link text-light" href="#">Login</a>

    </div>
  </nav>


  <!-- HERO -->
  <div class="jumbotron text-center hero-background-img" id="secondImage">
      <h1 class = "text-dark">Information</h1>
    </div>
    <div class = "text-center">
        <h2 class = "btn-center btn btn-link">Support us by Contributing $5 or more</h2>
    </div>
    <div class="container mb-5 mt-5">
      <h1 class = "p-3 text-center"> Contact your local health office and setup</h1>
      <h2 class = "p-3 text-center"> Search for Office and Send Medical Documents</h2>
    </div>
  <div class="jumbotron text-center hero-background-img">
    <div class="row m-5">
      <div class="col lg-6">
      <form action="#">
          <h3 class = "p-3"> Doctor's Email</h3>
          <input type="text" class="form-control mb-2 mr-sm-2">
          <h3> Your Name</h3>
          <input type="text" class="form-control mb-2 mr-sm-2">
          <h3> Your Email</h3>
          <input type="text" class="form-control mb-2 mr-sm-2">

          <button type="button" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
</div>

  <!-- CALL TO ACTION -->
  <div class="jumbotron text-center mb-0 bg-white">
        <!--Google map-->
    <h2>Our Location</h2>
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
      <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
        style="border:0" allowfullscreen></iframe>
    </div>

  </div>

   <!-- FOOTER -->
   <div class="bg-secondary p-5 text">
    <div class="row">
      <div class="col-lg-2">
        <p class = "h6 text-light">What's New</p>
        <p class = "text-light">Website and App</p>
      </div>

      <div class="col-lg-2">
          <p class = "h6 text-light">Facebook</p>
          <img src="fblogo.png" class="img-fluid rounded" id = "smallIcon">

      </div>
      <div class="col-lg-2">
        <p class = "h6 text-light">Instagram</p>
        <img src="instalogo.png" class="img-fluid rounded" id = "smallIcon">

      </div>
      <div class="col-lg-2">
        <p class = "h6 text-light">Twitter</p>
        <img src="twitterlogo.png" class="img-fluid rounded" id = "smallIcon">

      </div>
      <div class="col-lg-2">
        <p class = "h6 text-light">YouTube</p>
        <img src="ytlogo.png" class="img-fluid rounded" id = "smallIcon">

      </div>
      <div class="col-lg-2">
        <p class = "h6 text-light">Company</p>
        <a class = "h6" href="#">Join Us!</p>

      </div>

    </div>
  </div>


</body>
</html>
