<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EasyHealth</title>

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- BOOTSTRAP THEME -->

  <!-- CUSTOM STYLES -->

  <link rel="stylesheet" href="styles.css">

</head>
<body>
  {% block content %}

  {% endblock %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">EasyHealth</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/uploaddocs">Medical Documents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/features">Information</a>
            </li>
          </ul>
            <a class="nav-link text-dark" href="#">Login</a>

        </div>
      </nav>

  <!-- HERO -->
  <div class="jumbotron text-center hero-background-img" id="secondImage">
    <h1 class = "text-dark">Welcome to EasyHealth!</h1>
  </div>

  <!-- BENEFITS -->
  <div class="container mb-5 mt-5">
    <!-- THE BENEFITS COLUMNS -->

      <div class="jumbotron text-center bg-light">
        <h3 class = "m2">Message Your Personal Doctor Instantly</h3>

      </div>
   
    <div class>
        <h2> A revolutionary change to an ancient system of communicating with your doctor.</h1>
   
    </div>
 
</div>

  <div class="jumbotron text-center hero-background-img">
  <h2 class = "p-3"> Send Medical Documents Before a Checkup</h2>
  <div class="row m-5">
    <div class="col-lg-6">
        <h2> Download our App Now!</h1>

    </div>
    <div class="col-lg-6">
        <h2> Download our App Now!</h1>
        <a href="pricing.html" class="btn btn-primary bg-primary">Download ></a>

    </div>

    </div>
</div>

  <!-- CALL TO ACTION -->
  <div class="jumbotron text-center mb-0">
    <p class="lead mb-4 p-3">Get notified about updates and more!</p>
    <div class="d-flex justify-content-center">
      <form action="#" class='form-inline'>
        <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Email"/>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="bg-secondary p-5 text">
    <div class="row">
      <div class="col-lg-2">
        <p class = "h6">What's New</p>
        <p>2020 CustomKeys</p>

      </div>

      <div class="col-lg-2">
          <p class = "h6">Facebook</p>
          <img src="fblogo.png" class="img-fluid rounded" id = "smallIcon">

      </div>
      <div class="col-lg-2">
        <p class = "h6">Instagram</p>
        <img src="instalogo.png" class="img-fluid rounded" id = "smallIcon">

      </div>
      <div class="col-lg-2">
        <p class = "h6">Twitter</p>
        <img src="twitterlogo.png" class="img-fluid rounded" id = "smallIcon">

      </div>
      <div class="col-lg-2">
        <p class = "h6">YouTube</p>
        <img src="ytlogo.png" class="img-fluid rounded" id = "smallIcon">

      </div>
      <div class="col-lg-2">
        <p class = "h6">Company</p>
        <p>Careers</p>

      </div>

    </div>
  </div>


</body>
</html>
